# Ignore node_modules
node_modules
Frontend/node_modules
Backend/node_modules

#Ignore build outputs
Frontend/build
Backend/build

#ENVIRONMENT FILED
.env
Backend/.env
Frontend/.env


# System files
.DS_Store
Thumbs.db
